html, body {
    max-width: 400px;
    overflow-x: hidden;
  }
  

  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  /* .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  } */
  
  .gen-btn{
    width:100px;
    height:20px;
    padding:5px;
    font-weight: bold;
    background-color:#94c5e6;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
 
  }

  a{
    font-size: 13px;
  }

  .gen-btn:hover{
    background-color: #Aad2ee;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
  }

  h4{
    font-family: Arial, Helvetica, sans-serif;
  }

  .help_box{
    background-color:whitesmoke;
    border-radius: 10px;
    border: black 1px solid;
    width:100%;
  }

  .input_box{
    width:50%;
    padding:10px;
    
  }

  .checkbox_style{
    margin-bottom:20px;
  }
  
  .body-style{
    padding-bottom:10px; 
    padding-left:20px; 
    padding-right:20px;
    background-color: #a7ede4;
  }